<h1> Books! </h1>

<%= link_to "Go to Authors", "/writers"%>

<% @books.each do |book| %>
  <p><%=link_to "#{book.name} (by #{Writer.where(id: book.writer_id).first.name} #{Writer.where(id: book.writer_id).first.last_name})", "/books/#{book.id}" %></p>
<% end %>
