<div class="authors">
  <%= link_to "Go to Library", "/books", class: "to_library"%>
  <h1>Authors</h1>

  <%= react_component "Writers",
  props: {
    writers: @writers,
    books: Book.all,
    alphabet: ["A","B","C","D","E","F","G","H","I","J","K","L","M","N",
      "O","P","Q","R","S","T","U","V","W","X","Y","Z"]
      }, id: "root"%>
</div>
